{% extends "layouts/post.njk" %}

<!--  -->

{% block contentMiddle %}
<div class="page-header">
  <div class="title">The CPC Executives</div>
  <div class="subtitle">The team that made things happen.</div>
</div>

<div class="page-body">
  <div class="profiles">
    {% for admin in admins %}
    <div class="profile-card">
      <div class="profile-image">
        <img class="grey" src="https://picsum.photos/250/300/?image=1027" alt="">
      </div>
      <div class="profile-desc">
        <div class="profile-name">{{ admin.name }}</div>
        <div class="profile-post">{{ admin.post }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

<!--  -->

{% block js %}
<script>
  $(function () {
    $("div.profile-card").hover(function (evt) {
      $(this).addClass('big');
      $(this).children("div.profile-image").children("img").addClass('normal');
      $(this).children(".profile-desc").animate({
        opacity: 1,
      }, 500);
    }, function () {
      $(this).removeClass('big')
      $(this).children(".profile-desc").animate({
        opacity: 0,
      }, 500);
      $(this).children("div.profile-image").children("img").removeClass('normal');
    });
  })
</script> {% endblock %}
