{% extends "layouts/post.njk" %}

<!--  -->

{% block contentMiddle %}
<div class="menu-nav">
  <ul class="menu-list">
    <li>
      <a href="./jamboree.html">Jamboree</a>
    </li>
    <li>
      <a href="#">White</a>
    </li>
    <li>
      <a href="#">Final Year League</a>
    </li>
    <li>
      <a href="#">T.T.G</a>
    </li>
    <li>
      <a href="#">Yearbook</a>
    </li>
  </ul>
</div>
{% endblock %}
