{% extends 'layouts/post.njk' %}

{% block contentLeft %}
<div class="hamburger-menu hamburger-menu-special d-md-none">
  <a href="./home.html">Close</a>
</div>
{% endblock %}

{% block contentMiddle %}
<div class="menu-nav">
  <ul class="menu-list">
    <li>
      <a href="./jamboree.html">Who we are</a>
    </li>
    <li>
      <a href="#">What we do</a>
    </li>
    <li>
      <a href="#">Yearbook</a>
    </li>
    <li>
      <a href="#">CPC Executives</a>
    </li>
  </ul>
</div>

<div class="fixed-footer">
  <div class="">Covenant University</div>
</div>
{% endblock %}


{% block contentRight %}
<div class="hamburger-menu">
  <a href="./home.html">CLOSE</a>
</div>
{% endblock %}
